<!DOCTYPE html>
<html>
<head>
  <title>Discounts</title>
  <%= stylesheet_link_tag    "discounts/application", media: "all" %>
  <%= javascript_include_tag "discounts/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
